/* 发运单整体列表样式 */
.expressSheetList{
    width: 7.6cm;
}
.expressSheetList ul.va-list {
    list-style: none;
    background-color: #f0f0f0;
    padding: 0;
    margin-bottom: -1px;
}
.expressSheetList ul.va-list>li{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    margin-bottom: 1px;
    background-color: white;
    page-break-before:always;
}

/* 单个发运单样式 */
.expressSheetList ul.va-list>li>div{
    flex: 1 1;
    display: block;
    flex-direction: row;
}
.expressSheetItem{
    height: 13cm;
    width: 7.6cm;
    border-style: dashed;
    border: 1px dashed #000;
}

/* 头部样式（快递类型和时间） */
.sf_top{
    border-bottom: 1px dashed #000;
    width: 7.6cm;
    height: 1.4cm;
}
.sf_top .sf_proCode{
    text-align:right;
    width: 7.6cm;
    height: 1.0cm;
    font-family: SimHei;
    font-size:26pt;
    padding-right: 0.3cm;
    line-height: 26pt;
}
.sf_top .sf_top_time{
    text-align: center;
    font-family: STSong;
    font-size: 6pt;
}

/* 中间条形码样式 */
.sf_middle1{
    border-bottom:1px dashed #000;
    text-align: center;
    height: 2.3cm; 
    width: 7.6cm; 
}
.sf_middle1 img{
    line-height: 1.3cm; 
    padding-top: 1.5mm;
}

/* 中间地区码样式 */
.sf_middle2{
    text-align: center;
    height: 1cm;
    width: 7.6cm;
    border-bottom: 1px dashed #000;
}
.sf_middle2 span{
    font-family: SimHei;
    font-size: 22pt;
    font-weight: bolder;
    line-height: 22pt;
}

/* 底部收件人、寄件人、二维码、条形码、签收、备注样式 */
.sf_bottom{
    width: 7.6cm; 
    height: 8cm;
}

/* 左部分 */
.sf_bottom_left{
    border-right: 1px dashed #000;
    width: 6cm;
    height: 8cm;
    float: left
}
.sf_bottom_left .sf_receive{
    width: 6cm;
    height: 1.9cm;
}
.sf_receive_left{
    width: 0.5cm;
    height: 1.9cm;
    float: left;
    padding-left: 0mm;
    padding-top: 0mm;
}
.sf_receive_left span{
    width: 1cm;
    font-family: STSong;
    font-size: 10pt;
    font-weight: bolder;
}
/* 接收人信息 右 */
.sf_receive_right{
    width: 5.4cm;
    height: 1.9cm;
    float: left
}
.sf_receive_right #SF_Consignee{
    white-space: normal;
    word-break: break-all;
    word-wrap: break-word;
    font-family: STSong;
    font-size: 9pt;
}
.sf_receive_right #SF_ConsigneeAddress{
    white-space: normal;
    Word-break: break-all;
    word-wrap: break-word;
    line-height: 10pt;
    font-family: STSong;
    font-size: 9pt;
}

/* 发货人信息 */
.sf_bottom_left .sf_send{
    border-bottom: 1px dashed #000;
    width: 6cm;
    height: 0.8cm;
}
.sf_send_left{
    width: 0.5cm;
    height: 0.8cm;
    float: left;
    padding-left: 0mm;
    padding-top: 0mm;
}
.sf_send_left span{
    width: 1cm;
    font-family: STSong;
    font-size: 10pt;
    font-weight: bolder;
}
/* 发货人右侧信息 */
.sf_send_right{
    width: 5.4cm;
    height: 0.8cm;
    float: left;
}
.sf_send_right #SF_Sender{
    white-space: normal;
    Word-break: break-all;
    word-wrap: break-word;
    font-family: STSong;
    font-size: 6pt;
}
.sf_send_right #SF_SenderAddress{
    white-space: normal;
    Word-break: break-all;
    word-wrap: break-word;
    font-family: STSong;
    font-size: 6pt;
}

/* 二维码信息 */
.sf_bottom_left .sf_qrcode{
    border-bottom: 1px dashed #000;
    width: 6cm;
    height: 3cm;
}
.sf_qrcode_left{
    border-right: 1px dashed #000;
    width: 3.2cm;
    height: 3cm;
    float: left;
}
.sf_qrcode_left1{
    border-bottom: 1px dashed #000;
    width: 3.2cm;
    height: 0.6cm;
    text-align: center;
}
.sf_qrcode_left1 span{
    font-family: STSong;
    font-size: 9pt;
    font-weight: bolder;
}
.sf_qrcode_left2{
    border-bottom: 1px dashed #000;
    width: 3.2cm;
    height: 1.2cm;
}
.sf_qrcode_left3{
    width: 3.2cm;
    height: 1.2cm;
    text-align: center;
}
.sf_qrcode_left3 #SF_codingMappingOut{
    font-family: SimHei;
    font-size: 26pt;
    font-weight: bolder;
}
.sf_qrcode_right{
    width: 2.7cm;
    height: 3cm;
    float: left;
    text-align: center;
}
.sf_qrcode_right #qrCode{
    width: 2.5cm;
    height: 2.5cm;
    margin: 1.5mm 1.5mm 1.5mm 0.5mm;
}

/**/
.sf_bottom_left .sf_sign{
    border-bottom: 1px dashed #000;
    width: 6cm;
    height: 0.6cm;
}
.sf_sign span{
    font-family: STSong;
    font-size: 6pt;
    font-weight: bolder;
}

.sf_bottom_left .sf_remark {
    width: 6cm;
    height: 2cm;
}
.sf_remark #SF_remark{
    font-family: STSong;
    font-size: 5pt;
    font-weight:bolder;
}

/* bottom 右侧 */
.sf_bottom_right{
    width: 1.5cm;
    height: 8cm;
    float: right 
}
.sf_bottom_right #barCode{
    height:7cm;
    width:1.6cm;
    /*padding-left: 1.5cm;
    transform: rotate(90deg);
    transform-origin: right top 0px;*/
}
.sf_bottom_right #barCode img{
    /*padding-top: 10mm;
    margin-left: 10mm;*/
    height:1.3cm;
    width:6cm;
    margin-left:-4.6cm;
    margin-bottom:-7.2cm;
    transform:rotate(90deg);
    transform-origin:right top 0px;
}

.sf_bottom_right #SF_proName{
    border-top: 1px dashed #000;
    width: 1.5cm;
    height: 1.2cm;
}
.sf_bottom_right #SF_proName span{
    font-family: STSong;
    font-size: 8pt;
    font-weight: bolder;
}